<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Article finder</title>  

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <h1>Find articles with same content</h1>
 

  <form id="plagiarismCheckerForm">
    <label id="articleContentLabel" for="originalContent">Please paste your content here to check for article with same content!</label>
    <textarea id="articleContentInput" name="originalContent"></textarea>
    <div><button type="submit" id="submitButton">Submit</button></div>
  </form>

  <div id="resultsContainer" style="display: none;">
    <h2>Similar Articles</h2>
    <div id="similaritySensitivityContainer" type="hidden">
      
      <input type="hidden" id="sensitivity" name="sensitivity" min="0" max="100" value="10">
    </div>
    <table>
      <thead>
        <tr>
          <th scope="col" class="titleColumn">Title</th>
          <th scope="col" class="publicationColumn">Publication</th>
          <th scope="col" class="scoreColumn">Match Score</th>
        </tr>
      </thead>
      <tbody id="resultsTableBody"></tbody>
    </table>
    <div id="noResults">No results</div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>


